*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background: #fbfbfb;
}
a{
	text-decoration: none;
	transition: 0.3s;
}
p,h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul,ol{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.container{
	max-width: 1170px;
	padding-left: 0;
	padding-right: 0;
}
.container-fluid{
	padding-left: 20px;
	padding-right: 20px;
}


/* header-section start */

header{
	padding-top: 45px;
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.logo{
	display: inline-block;
	float: left;
}
nav.navbar{
	float: right;
	display: inline-block;
}
nav ul li a{
	font-size: 18px;
	line-height: 20px;
	 font-family: "Poppins", sans-serif;
	 font-weight: 500;
	 color: #fff;
	 text-transform: uppercase;
}
nav ul li a:hover{
   color: #ff9301;
}
.banner-section{
	padding-top: 223px;
}
.banner span{
    display: inline-block;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.banner h1{
	font-size: 50px;
	line-height: 52px;
	color: #ff9301;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}
.banner p{
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	max-width: 635px;
	display: inline-block;
}
.btn-sec a{
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	border-radius: 30px;
	background: #ff9301;
	border: 2px solid transparent;
}
.btn-sec a:last-child{
	color: #ff9301;
	border: 2px solid #ff9301;
	background: none;
}
.btn-sec a:hover{
   border: 2px solid #ff9301;
   color: #ff9301;
   background: none;
}
.btn-sec a:last-child:hover{
	border: 2px solid transparent;
	background: #ff9301;
	color: #fff;
}
/* header-section end */




/* first-section style start */


.first-section{
	background: #fff;
	padding-top: 140px;
	padding-bottom: 140px;
}
.text h2{
	font-size: 40px;
	line-height: 42px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;
}
.text p {
    font-size: 16px;
    line-height: 28px;
    color: #1e1e1e;
    font-family: "Heebo", sans-serif;
    font-weight: 200;
    max-width: 740px;
    display: inline-block;
}
.box-sec h2{
	font-size: 22px;
	line-height: 24px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
}
.box-sec p{
	font-size: 15px;
	line-height: 27px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 200;
	display: inline-block;
	max-width: 318px;
}
.box:hover{
	box-shadow: 0 0 20px #ececec;
	background: #fff;
}

.box-one img {
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translate(-50%,16%);
}
.box img{
	position: absolute;
    top: -18%;
    left: 50%;
    transform: translate(-50%,18%);
}
.box{
	margin-top: 95px;
	background: #fdfdfd;
	border-radius: 10px;
	position: relative;
	padding: 70px 25px 60px 25px;
}
/* first-section style end */






/* second-section style start */


.second-section{
	padding-bottom: 145px;
	background: #fff;
}
.text-sec h2{
	font-size: 40pz;
	line-height: 42px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;
}
.text-sec p{
	font-size: 16px;
	line-height: 27px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 200;
	display: inline-block;
	max-width: 730px;
}
.image img{
	border-radius: 12px;
}
.post-sec{
	margin-top: 70px;
}
.post h2{
	font-size: 22px;
	line-height: 24px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;
	display: inline-block;
}
.post p{
	font-size: 16px;
	line-height: 18px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
}
.post a{
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	color: #ff9301;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
	
}
.post a:hover{
	color: #111f4e;
}
/* second-section style end */




/* third-section style start */


.third-section{
	background: #111f4e;
	padding-top: 85px;
	padding-bottom: 85px;
}
.content-left h2{
	font-size: 38px;
	line-height: 40px;
	color: #fff;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
}
.content-left p{
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-family: "Heebo", sans-serif;
	font-weight: 200;
}
.content-left{
	display: inline-block;
}
.btn-right{
	display: inline-block;
	float: right;
}
.btn-right a{
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	background: #ff9301;
	display: inline-block;
	border-radius: 30px;
}
.btn-right a:hover{
	background: #fff;
	color: #ff9301;
}
/* third-section style end */



/* four-section style start */
.four-section{
	background: #fff;
	padding-top: 140px;
	padding-bottom: 140px;
}
.four-section .row{
    padding-top: 60px;
}
.profile-img{
	max-width: 85px;
	flex: 1;
}
.text-box h2{
	font-weight: 40px;
	line-height: 42px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;
}
.text-box p{
	font-family: "Heebo", sans-serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 28px;
	color: #1e1e1e;
	display: inline-block;
	max-width: 730px;
}
.flex-sec {
    display: flex;
    align-items: center;
    gap: 25px;
}
.profile-tx {
    flex: 1;
}
.profile-tx h2{
	font-size: 21px;
	line-height: 23px;
	color: #1e1e1e;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}
.profile-tx p{
	font-size: 14px;
	line-height: 16px;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
	color: #1e1e1e;
}
.tx-sec p{
	font-size: 16px;
	line-height: 18px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 200;
	max-width: 500px;
}
.border-sec {
    border: 1px solid #999999;
    border-radius: 7px;
}


/* four-section style end */




/* five-section style start */


.five-section{
	background: #fff;
	padding-bottom: 140px;
}
.last-tx h2{
	font-size: 40px;
	line-height: 42px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;

}
.last-tx p{
	font-size: 16px;
	line-height: 18px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 200;	
	display: inline-block;
	max-width: 730px;
}
.last-content span{
	font-size: 15px;
	line-height: 17px;
	display: inline-block;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 500;	
}
.last-content h2{
	font-size: 22px;
	line-height: 24px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;
}
.last-content p{
	font-size: 16px;
	line-height: 17px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
}
.last-btn a{
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	color: #ff9301;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
}
.last-btn a:first-child:hover{
	opacity: 0.5;
}
.last-btn a:last-child{
    margin-left: 20px;
}
/* five-section style end */





/* last-section style start */

.last-section{
	background: #fff;
	padding-bottom: 200px;
}
.countent h2{
	font-size: 40px;
	line-height: 42px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 700;

}
::placeholder{
	color: #1e1e1e;
}
.countent p{
	font-size: 16px;
	line-height: 28px;
	color: #1e1e1e;
	font-family: "Heebo", sans-serif;
	font-weight: 200;	
	display: inline-block;
	max-width: 730px;
}
.input input:focus{
	outline: 0;
}
.input input[type=text], .input input[type=Email]{
	width: 100%;
	height: 56px;
	font-family: "Heebo", sans-serif;
	font-weight: 200;
	font-size: 15px;
	line-height: 17px;
	padding: 0 20px;
	border: 1px solid #707070;
}
.message textarea{
	resize: none;
	width: 100%;
	height: 190px;
	border: 1px solid #707070;
	outline: 0;
	padding: 20px;
	font-family: "Heebo", sans-serif;
	font-weight: 200;
	font-size: 15px;
	line-height: 17px;
}
.submit input[type=submit]{
	height: 60px;
	width: 190px;
	border-radius: 30px;
	background: #ff9301;
	border: 2px solid transparent;
	font-size: 16px;
	line-height: 18px;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
	color: #fff;
	transition: 0.3s;
}
.submit input[type=submit]:hover{
      background: none;
      border: 2px solid #ff9301;
      color: #ff9301;
}
/* last-section style end */






/* footer-section style start */

.footer-section{
	background: #fbfbfb;
	padding-top: 50px;
	padding-bottom: 50px;
}
.lable {
    display: inline-block;
    float: right;
}
.media{
	display: inline-block;
	vertical-align: middle;
}
.media ul{
	list-style: none;
}
.media ul li{
	display: inline-block;
}
.media ul li a{
	display: inline-block;
}
.media ul li .social{
	background: url(../images/md-2.png) no-repeat;
	background-position: left top;
	width: 47px;
	height: 47px;
}
.media ul li:nth-child(2) .social{
	background: url(../images/media-1.png);
}
.media ul li:nth-child(3) .social{
	background: url(../images/media-3.png);
}
.media ul li:nth-child(4) .social{
	background: url(../images/media-4.png);
}
.media ul li:last-child .social{
	background: url(../images/media-5.png);
}
.media ul li .social:hover{
	background-position: left bottom;
}
/* footer-section style end */







/* media query start */

@media (max-width: 1075px){

.box-one img, .box img {
    top: -12%;
    transform: translate(-50%,12%);
}

}



@media (max-width: 1024px){

.logo {
    display: block;
    text-align: center;
    float: none;
}
nav.navbar {
    float: none;
    display: block;
}
.banner-section {
    padding-top: 60px;
}
header{
	height: 516px;
}
header, .four-section .row {
    padding-top: 20px;
}
.second-section, header, .five-section, .last-section{
	padding-bottom: 60px;
}
.first-section ,.third-section, .four-section{
	padding-top: 60px;
	padding-bottom: 60px;
}
.box-one, .box{
	margin-top: 10px;
}
.box-sec:last-child .box{
	padding: 45px 20px 0 20px;
}
.box-sec:first-child .box {
    margin-top: 30px;
}
.box-one, .box {
    padding: 45px 20px 20px 20px;
}
.box-one img, .box img {
    top: -15%;
    transform: translate(-50%,15%);
}
.box-sec p, .tx-sec, .last-content p{
	padding-top: 15px !important;
}
.post p{
	margin-top: 15px !important;
}
.post-sec {
    margin-top: 25px;
}
.post h2{
	font-size: 21px;
	line-height: 23px;
}
.post , .last-content{
    padding-top: 20px !important;
}
.five-section .row, .last-btn, .banner p, .form-section{
	margin-top: 20px !important;
}
.footer-section{
	padding-top: 0;
	padding-bottom: 20px;
}

}




@media (max-width: 979px){

header {
    height: 488px;
}
.box-one img, .box img {
    top: -9%;
    transform: translate(-50%,9%);
    max-width: 60px;
}
 
}



@media (max-width: 767px){
.navbar-collapse {
    text-align: center;
    background: #ff9301;
    padding: 20px 0;
}
.navbar-toggler{
	background: #ff9301;
}
nav.navbar{
	padding: 0;
}
.navbar {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 20px;
}
 .banner-section {
    padding-top: 40px;
    text-align: center;
}
.banner p, .box-sec p, .tx-sec p{
	max-width: none;
}
.box-one img, .box img {
    top: -24%;
    transform: translate(-50%,24%);
    max-width: 60px;
}
.first-section, .third-section, .four-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.second-section, header, .five-section, .last-section {
    padding-bottom: 40px;
}
header {
    height: auto;
    position: relative;
    overflow: hidden;
}
.post-sec{
	text-align: center;
}
.image img, .last-img img{
	width: 100%;
}
.btn-right {
    margin-top: 20px;
    display: block;
    float: none;
    text-align: center;
}
.content-left {
    display: block;
    text-align: center;
}
.profile-tx, .profile-img {
    flex: 100%;
    text-align: center;
}
.flex-sec {
    flex-wrap: wrap;
}
.profile-img {
    margin: 0 auto;
}
.tx-sec p, .submit, .last-content{
	text-align: center;
}
.four-section .row{
	padding-top: 0;
}
.five-section .row{
	margin:0 !important;
}
.profile, .lable, .last-sec{
	padding-top: 20px;
}
.form-section .input:nth-child(2){
	padding:20px 10px 0 10px;
}
.media, .lable {
    display: block;
    text-align: center;
}
.lable{
	float: none;
}
li.nav-item:first-child{
	border-top: none;
}
li.nav-item {
    margin-left: 0 !important;
    border-top: 1px solid #ffffff80;
    padding: 10px 0;
}
header .container-fluid {
    padding: 0;
}
.countent h2{
	font-size: 36px;
	line-height: 38px;
}
}






@media (max-width: 639px){

.box-one img, .box img {
    top: -18%;
    transform: translate(-50%,18%);
}
.media a{
	margin-left: 25px !important;
}
}






@media (max-width: 439px){

.box-one img, .box img {
    top: -13%;
    transform: translate(-50%,13%);
}
.media a {
    margin-left: 0px !important;
}
.media ul li {
    margin-left: 5px !important;
}
.logo {
    max-width: 210px;
    margin-left: auto;
}
}
/* media query end */